<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
    <style>
        body {
            background-color: aqua;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <h2>Drinks:</h2>
    <ul>
        <% for(let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>"><%=allDrinks[i].name.charAt(0).toUpperCase()+ allDrinks[i].name.slice(1)%></a>
            </li>
        <% } %>
    </ul>
    <h2>Food:</h2>
    <ul>
        <% for(let i = 0; i < allFood.length; i++) { %>
            <li>
                <a href="/food/<%=i%>"><%=allFood[i].name.charAt(0).toUpperCase()+ allFood[i].name.slice(1)%></a>
            </li>
        <% } %>
    </ul>


</body>
</html>